.userSideBar{
    display: block !important;
    position: static;
    width: 200px;
    background:linear-gradient(#161B33,#161B33,#0D0C1D);
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    transition: 0ms; 
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    /* overflow: hidden; */
}
#sideBarimgc {
    display: flex;
}
#hamburger{
    display: none;
}
#sideBarimgc img{
    margin-top: 60px;
    width: 200px;
}

.li{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 5px 0;
}
.li input[type=button]{
    background-color: #945045;
    width: 90%;
    transition: 400ms;
    font-size: 17px;
    padding: 10px 0;
    cursor: pointer;
}
.li input[type=button]:hover{
    background-color: #1E2F23;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.02);
}
.normal {
    margin-left: 0 !important;
}
.abs{
    position: absolute;
}
@media screen and (max-width:800px) {
    .userSideBar{
        margin-left:-200px ;
    }
    #hamburger {
        display: block;
        position: absolute;
        left: 5px;
    }
}