#banner{
    font-family: tahoma;
    font-size: 20px;
    text-align: justify;
    /* width: 50%; */
}
#form{
    width: 800px;
    border-radius: 30px;
    background:linear-gradient(#26113230,#261132,url(/src/assets/images/jps/89766.jpg) no-repeat) ;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20em;
    height: auto;    
}
#submitBtn:hover{
    background-color: yellow;
    color: black;
}
.disFlex{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
input[type=text],input[type=password]{
    border-radius: 20px;
}