nav {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    top: 0;
    width: -webkit-fill-available;
        /* background-color:  #131b32; */
    background-color: #161B33;
    border:1px solid black ;
    height: fit-content;
    position: absolute;

  }
  #logo{
    height: 80px;
    width: 400px;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 10px;
  }
  #hamburgerCont{
    display: none;
    width: 50px;
    flex-direction: column;
    justify-content: end;
    /* margin: 0 1em; */
}
#hamburger{
    /* margin: 15px; */
    background: transparent;
    border: none;
    width: 30px;
    /* color: white;
    font-size: 20px;
    height: 30px;
    border-radius: 10px; */
    }
    #navContents li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
    }
    .fa{
      color: #ff6d00;
        animation-name: rotate;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }    
  /* Define the keyframes */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply the keyframes to an element */
.settings{
  animation-name: rotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

  
  @media screen and (max-width: 768px) {
    nav {
      /* flex-direction: column; */
      align-items: flex-start;
    }
    #logo{
        height: 50px;
        width: 200px;
      }
    ul {
      /* flex-direction: column; */
      align-items: flex-start;
    }
  
    li {
      margin: 5px 0;
    }
  }
  