nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    /* background-color:  #131b32; */
    background-color: transparent;
    height: fit-content;
    position: absolute;

  }
  #logo{
    height: 50px;
    width: 300px;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-left: 10px;
  }
  
  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    #logo{
        height: 50px;
        width: 200px;
      }
    ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    li {
      margin: 5px 0;
    }
  }
  