.LandingPageCont{
    height: 100vh;
    width: 100%;
    background-color: #261132;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FormContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}